.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.with-fixed-topbar .page-content {
  padding: 60px 20px 20px 20px; /* top, right, bottom, left */
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
